<a href="https://colab.research.google.com/github/tanish36/Tensorflow-Projects/blob/master/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%tensorflow_version 2.x
import tensorflow as tf
from tensorflow import keras
import pandas as pd

# Load Data

In [0]:
!pip install wget
import wget

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)

In [0]:
# the file is stored at book's site
url = 'http://drive.google.com/u/0/uc?id=1qI0kNw_lDWNkx6lJYbsN52BlnNsaP09p&export=download'

In [0]:
wget.download(url,'student.csv')

'student (1).csv'

# Prepare Data

In [0]:
# Load data into pandas
import pandas as pd
df=pd.read_csv('/content/student.csv')
df.head(10)

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83
5  1670  2.91
6  1764  3.00
7  1764  3.00
8  1792  3.01
9  1850  3.01

In [0]:
# Extract features and label
dataset = df.values
X = dataset[:,1]
y = dataset[:,0]

# Model Definition/Training

In [0]:
model = tf.keras.Sequential([keras.layers.Dense(units=1, input_shape=[1])])
model.compile(optimizer='sgd', loss='mean_squared_error')
model.fit(X, y, epochs=15)

Epoch 1/15
3/3 [==============================] - 0s 3ms/step - loss: 2167086.7500
Epoch 2/15
3/3 [==============================] - 0s 2ms/step - loss: 413479.5312
Epoch 3/15
3/3 [==============================] - 0s 2ms/step - loss: 88842.9297
Epoch 4/15
3/3 [==============================] - 0s 2ms/step - loss: 26532.8535
Epoch 5/15
3/3 [==============================] - 0s 2ms/step - loss: 13850.4990
Epoch 6/15
3/3 [==============================] - 0s 2ms/step - loss: 12082.9561
Epoch 7/15
3/3 [==============================] - 0s 1ms/step - loss: 10830.8398
Epoch 8/15
3/3 [==============================] - 0s 1ms/step - loss: 11413.1846
Epoch 9/15
3/3 [==============================] - 0s 1ms/step - loss: 11689.4424
Epoch 10/15
3/3 [==============================] - 0s 2ms/step - loss: 10919.8369
Epoch 11/15
3/3 [==============================] - 0s 2ms/step - loss: 12214.2344
Epoch 12/15
3/3 [==============================] - 0s 2ms/step - loss: 11328.9014
Epoch 13/15
3/3 [==============================] - 0s 2ms/step - loss: 11040.7588
Epoch 14/15
3/3 [==============================] - 0s 2ms/step - loss: 10892.7568
Epoch 15/15
3/3 [==============================] - 0s 1ms/step - loss: 11050.7021

# Predict Unseen Data

In [0]:
result = model.predict([5.0])
print("Expected SAT score for GPA 5.0: {:.0f}".format(result[0][0]))
result = model.predict([3.2])
print("Expected SAT score for GPA 3.2: {:.0f}".format(result[0][0]))

Expected SAT score for GPA 5.0: 2678
Expected SAT score for GPA 3.2: 1770